<% if @movie.errors.any? %>
    <div class="alert alert-danger" role="alert"> 
        <ul>
        <% @movie.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
        </ul>
    </div>
<% end %>
<% if flash[:alert] %>
    <div class="alert alert-danger" role="alert"> 
    <%= flash[:msg] %>
    </div>
<% end %>

<h2 class='text-center'>New Movie</h2>
<form action="/movies" method="POST" class="form-horizontal">
    <div class="form-group">
        <label for='name' class="col-sm-3 control-label">Name</label>
        <div class="col-sm-6">
            <input type="text" name="movie[name]" id='name' class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label for='director' class="col-sm-3 control-label">Director</label>
        <div class="col-sm-6">
            <input type="text" name="movie[director]" id='director' class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label for='star' class="col-sm-3 control-label">Star</label>
        <div class="col-sm-6">
            <input type="text" name="movie[star]" id='star' class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label for='genre' class="col-sm-3 control-label">Genre</label>
        <div class="col-sm-6">
            <input type="text" name="genre[name]" id='genre' list="genre_list" class="form-control" required>
            <datalist id="genre_list">
                <% @genres.each do |genre|%>
                    <option value="<%= genre.id%>"><%= genre.name%></option>
                <% end %>
            </datalist>
        </div>
    </div>
    <div class="form-group">
        <label for='date' class="col-sm-3 control-label">Release Date</label>
        <div class="col-sm-6">
            <input type="date" name="movie[release_date]" id='date' class="form-control" required>
        </div>
    </div>
    
    <div class="form-group">
        <label for='summary' class="col-sm-3 control-label">Summary</label>
        <div class="col-sm-6">
            <textarea name="movie[summary]" id='summary' class="form-control"></textarea>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <button type='submit' class="form-control btn btn-primary" >Add Movie</button>
        </div>
    </div>
</form>