<% if flash[:msg] %>
    <div class="alert alert-danger" role="alert"> 
    <%= flash[:msg] %>
    </div>
<% end %>

<h3>Login</h3>
<form action="/login" method="POST" class="form-horizontal">
    <div class="form-group">
        <label for='username' class="col-sm-2 control-label">username</label>
        <div class="col-sm-10">
            <input type="text" name="user[username]" id='username' class="form-control" required>
        </div>
    </div>
    <div class="form-group">
        <label for='password' class="col-sm-2 control-label">Password</label>
        <div class="col-sm-10">
            <input type="password" name="user[password]" id='password' class="form-control" required>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Login</button>
        </div>
    </div>
</form>