

<h3>Sign Up</h3>
<form action="/signup" method="POST">
    <div class="form-group">
        <label>username</label> <br>
        <input type="text" name="username">
    </div>
    <div class="form-group">
        <label>Password</label> <br>
        <input type="password" name="password">
    </div>
    <div class="form-group">
        <label>Password Confirmation</label> <br>
        <input type="password" name="password">
    </div>
        <button type='submit' class="btn btn-primary"> signup </button>
</form>